html {
  color-scheme: light dark;
  font-family: system-ui;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}


.appContainer {
  margin: 0 auto;
  padding: 2rem;
}


.mainTitle {
  font-size: 2rem;
  margin: 2rem 0;
  color: #2e3440;
  text-align: center;
  font-weight: 500;
  letter-spacing: -0.5px;
  position: relative;
  text-transform: uppercase;
}


.mainTitle::before {
  content: "IMAGE HOSTING Service";
  position: absolute;
  color: transparent;
  -webkit-text-stroke: 1px rgba(46, 52, 64, 0.1);
  font-size: 3.2rem;
  top: -8px;
  left: 0;
  right: 0;
}
